/*Кастомні змінні*/
:root {
    --primary-text-color: #212121;
    --second-color: #757575;
    --title-text-color: #000000;
    --accent-color: #2196F3;
    --background-color: #F5F5F5;
}
body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    background-color: var(--background-color);
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.container {
    margin: 0 auto;
    padding: 0 15px;
}

nav {
    display: inline-block;
}

/*Logo*/

.logo {
    margin-top: 24px;
    margin-left: 215px; 
    display: inline-block;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1,2;
    text-decoration: none;
    color: inherit;
}

.half-logo {
    color: var(--accent-color);
}

/*Navigation*/
.nav-list, li{
    display: inline-block;
    
}
.nav-list{
    margin: 0;
    padding: 0;
    margin-top: 32px;
    margin-left: 93px;
}

.nav-list a {
    text-decoration: none;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    color: inherit;  
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

/*Contacts*/
 
.mail {
    display: inline-block;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    color: var(--second-color)
}
address {
    display: inline-block;
    margin: 0;
    margin-top: 32px;
    margin-left: 344px;
}

/*HERO*/

.section-hero{
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    background: #2F303A;
    
}
.hero-title {
    display: inline-block;
    margin: 200px 452px 0 452px;
    max-width: 696px;
    padding: 0;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff
}
.main-btn {
    display: inline-block;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1,87;
    align-items: center;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.06em;
    margin-left: 692px;
    margin-top: 30px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background: var(--accent-color);
    color: #FFFFFF;
}

/*Featurs*/
.title-hidden, 
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-featurs {
    
}
.featurs-list li {
    list-style: none;
 }
.featurs-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-text-color);
}
.featurs-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--second-color); 
}

/*Employment*/

.employment-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}
.employment-list li {
    list-style: none;
    display: inline;
}

/*About team*/

.about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1,16;
    text-align: center;
}
.about-list li {
    list-style: none;
}
.title-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}
.about-text {
    color: var(--second-color);
}

/*Footer*/

.footer {
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2094px;
    background: #2F303A;
}

/*LOGO*/

.logo-footer {
    margin-top: 55px;
    margin-left: 221.5px;
    display: inline-block;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1, 2;
    text-decoration: none;
    color: #FFFFFF;
}
        
.half-logo {
    color: var(--accent-color);
}

.foter-list {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 20px;
    margin-left: 221.5px;
}
.footer-link {
    font-family: inherit;
    font-style: normal;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: inherit;
    color: rgba(255, 255, 255, 0.6);
}
.address {
    margin: 0;
    color: #FFFFFF;
    outline: 1px solid tomato;
}
.mail, .tel {
    display: inline-block;
    margin-top: 9px;
}

 /*PORTFOLIO*/

/*Buttons portfolio*/
.btn {
    
}
.filter-btn:hover, 
.filter-btn:focus {
    cursor: pointer;
    color: #FFFFFF;
    background-color: var(--accent-color);
}

   /*Projects*/

.project-title {
    font-family: inherit;
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}
.project-text {
    font-size: 16px;
    line-height: calc(30/16);
    color: var(--second-color);
}
